#table{
    display: flex;
    
    width: 960px;
    height: 960px;
    flex-wrap: wrap;
}

#table div {
    background-color: rgb(0, 0, 0);
    border: black 1px solid;
    box-sizing: border-box;

    
}